body{
    background-color: black;
}
.main{
    border: 2px solid brown;
    margin: 30px;
    height: auto;
    border-radius: 15px
}
nav{
    float: right;
    margin-right: 15%;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-left: 20px;
    font-size: 1.3em;
    text-transform: uppercase;
}
nav li :hover{
    color: white;
}
nav ul a{
    text-decoration: none;
    color: orangered;
}
img{
    height: 100px;
    width: 150px;
    display: inline;
    float: left;
}
.box h1{
    color: white;
    margin: 150px auto auto 30px;
}
.anytime{
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
audio{
    width: 200px;
    height: 40px;
    margin-left: 30px;
}
video{
    width: 250px;
    height: 120px;
}
table{
    color: white;
    margin-top: 100px;
    border-collapse: collapse;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
table tr td, th{
    padding: 10px 15px;
    border: 1px solid orangered;
}