body{
    background-color: black;
}
.header{
    display: inline-block;
    margin-top: 25px;
    margin-left: 180px;
}
.header li{
    display: inline;
    color: white;
    margin-left: 15px;
    font-size: 1.2em;
}
img{
    height: 100px;
    width: 100px;
    display: inline;
    float: left;
}
.box{
    border: 2px solid brown;
    margin: 30px;
    height: 500px;
    border-radius: 15px;
}
.box h1{
    color: white;
    margin: 50px auto auto 30px;
}
.anytime{
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}